.home_card {
  background-color: ghostwhite;
  margin-bottom: 0.5cm;
  height: 4cm;
}
.home_card:hover {
  background-color: yellow;
}
.walk-in-video-chat {
  background-color: ghostwhite;
  margin-bottom: 0.5cm;
  margin-right: 0.3cm;
  padding-top: 0.3cm;
  padding-bottom: 0.3cm;
}
.walk-in-patient-detials {
  background-color: ghostwhite;
  padding-top: 0.3cm;
  padding-bottom: 0.3cm;
}
#remoteVideo {
  height: 250px;
}
#localVideo {
  height: 100px;
  position: absolute;
  top: 9.8cm;
}
