
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>TokDoc</title>

    <!-- Bootstrap core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/dan.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">TokDok</a>
        </div>
          <ul class="nav navbar-nav navbar-left">
            <li><a href="#">Home</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Testimonials</a></li>
          </ul>

          
          <form class="navbar-form navbar-right" role="form">
            <button type="submit" class="btn btn-primary">Sign in</button>
            
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Become a counselor</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div><!-- container -->
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class='header1'>
      <div class="container">
        <div class="row">
          <div class='col-xs-4 col-sm-offset-1'>
            <h1>Join in a Conversation Now.</h1>
            <p>More than 1000 patients use TokDoc for treatment, or to get an immediate consultation from a doctor.</p>
            <button class="btn btn-primary" role="button">FIND A DOCTOR</button>
            <button class="btn btn-primary" data-toggle="modal" data-target="#popUp">
            DEMO MODAL
            </button>
          </div>
          <div class="col-xs-6">
            <img src="../static/img/desk.png" width="560" alt="Doctor and Patient">
          </div>
        </div>
      </div>
    </div>
    <div class='meet-our-doctors'>
      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
        <div class="col-xs-12 text-center"><h3 class='white'>MEET OUR DOCTORS</h3></div></div> 
        <div class="row">
          <div class="col-xs-4">
            <h2>Sample</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-xs-4">
            <h2>Sample</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
         </div>
          <div class="col-xs-4">
            <h2>Sample</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>
      </div>
      <div class="container">
      <!-- Example row of columns -->
      
      <hr>

      <footer>
        <div class="container">
          <a class="navbar-brand" href="#">&copy;2014 TokDok All Rights Reserved.</a>
        <!--   <ul class="nav navbar-nav navbar-left">
            <li><a href="#">Home</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Testimonials</a></li>
          </ul> -->
      </footer>
    </div> <!-- /container -->

    <!--modal-->
<div class="modal fade" id="popUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <span>Peter Adams</span>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-4"><button class='active btn btn-lg'><i class="fa fa-comments-o"></i> CHAT</button></div>
          <div class="col-sm-4"><button class='btn btn-lg'><i class="fa fa-clock-o"></i> BOOK AN APPOINTMENT</button></div>
          <div class="col-sm-4"><button class='btn btn-lg'><i class="fa fa-file-text-o"></i> SEND MEDICAL INFO</button></div>
        </div>
        <div class="row">
          <div class="video col-sm-8">
            video here
          </div>
          <div class="col-sm-4">
            <textarea class="form-control" placeholder='Comment'></textarea>
            <button class='btn btn-primary pull-left'>Comment</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    
  </body>
</html>
